* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1c1c1c;
}

.screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

canvas#game {
  background-color: #016137;
  /* width: 640px;
  height: 640px; */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  width: 640px;
  max-width: 100%;
  max-height: 100vh;
  margin: 1rem;
}

.buttons {
  display: flex;
}

.buttons button {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: end;
  align-items: start;
  padding: 0.5rem;
}
.buttons button:not(:last-of-type) {
  margin-right: 0.5rem;
}

.buttons svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media (width >= 64rem) {
  .buttons button {
    width: 3rem;
    height: 3rem;
  }
  .buttons svg {
    width: 1rem;
    height: 1rem;
  }
}
